
body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}



.hero {
    background: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
